.main-footer {
    height: 100px;
    background-color: black;
    display: flex; /* Adiciona o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.main-footer .icon-footer {
    width: 45px;
    height: 45px;
    margin-right: 40px;
    display: inline-block;
}

.main-footer .icon-footer:last-child {
    margin-right: 0;
}