progress.progress-bar::-webkit-progress-bar {
    box-sizing: border-box;
    background-color: #000;
    border: 5px solid #000;
    height: 40px;
    width: 362px;
}

progress.progress-bar::-webkit-progress-value {
    background-color: #fff;
}