.section-sobre{
background-color: #3A4042;
}

.section-sobre .text{
    color: #FFF;
    font-family: "Fira Code";
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.section-sobre .main-title{
    color: white;
    padding-top: 50px;
}