.section-skills {
    height: 730px;
    padding: 50px;
    align-items: center;
    background-color: #fff;
}

.section-skills .skill {
    display: flex;
}

.section-skills .main-title {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: none;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 60px;
}

.section-skills .skillTitle {
    color: #fff;
    font-family: "Press Start 2P";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
}

.section-skills .skillIco {
    width: 90px;
}

.section-skills .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}