.subtitle {
    color: var(----color-third, #FFF);
    text-shadow: 4px 4px 0px #000;
    font-family: "Press Start 2P";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}